<div>
    <a routerLink="/create" class="btn btn-sm btn-success">Добавить</a>
</div>
<table class="table table-striped">
    <thead>
        <tr>
            <td><strong>Модель</strong></td>
            <td><strong>Производитель</strong></td>
            <td><strong>Цена</strong></td>
            <td><strong></strong></td>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let p of products">
            <td>{{p?.name}}</td>
            <td>{{p?.company}}</td>
            <td>{{p?.price}}</td>
            <td>
                <a [routerLink]="['edit', p.id]" class="btn btn-sm btn-primary">Изменить</a>
                <button (click)="delete(p.id)" class="btn btn-sm btn-danger">Удалить</button>
            </td>
        </tr>
    </tbody>
</table>